In [1]:
x = 10
y = 100
print(x+y)

110

In [2]:
x = 50
y = 100
x+y

150

In [3]:
type(1)
type('abc')
type([5, 6, 7])
type(set([1, 1, 2]))

int

str

list

set

In [4]:
sentence = 'apple is the best fruit'

word_list = sentence.split()

word_list
type(word_list[1])

['apple', 'is', 'the', 'best', 'fruit']

str

In [5]:
data = 'apple---orange---banana'

data.split('---')  # use appropriate separator

['apple', 'orange', 'banana']

In [6]:
'rahul' + 'muskan'

'abc' + 'qwe'

12 + 10

'rahulmuskan'

'abcqwe'

22

In [7]:
# 10 + int('abc')

In [8]:
10 + int('12')

22

In [9]:
type(12)
type('12')

int

str

In [10]:
num = int('12')
type(num)

int

In [11]:
data = '20 65'

data_list = data.split()

age = int(data_list[0])
weight = int(data_list[1])

type(age)
type(weight)

print(f'my age is {age}, my weight is {weight}, next year ill be {age+1} years old')

int

int

my age is 20, my weight is 65, next year ill be 21 years old

In [12]:
# num_list = [2, 5, 12, 16]
num_list = ['2', '5', '12', '16']

print(num_list)

# num1 = int(num_list[0])
# num2 = int(num_list[1])
# num3 = int(num_list[2])
# num4 = int(num_list[3])

# num_list = [num1, num2, num3, num4]

# for num in num_list:
#   print(num ** 2)

['2', '5', '12', '16']

In [13]:
num_list = ['2', '5', '12', '16']
num_list = list(map(int, num_list))

print(num_list)

for num in num_list:
  print(num ** 2)

[2, 5, 12, 16]
4
25
144
256

In [14]:
data = '20 65'

age, weight = list(map(int, data.split()))

print(f'my age is {age}, my weight is {weight}, next year ill be {age+1} years old')

my age is 20, my weight is 65, next year ill be 21 years old

In [15]:
# Sample inputs (# note: The values given in the prefix code(grey) will be changed by the autograder according to the testcase while running them.

s = "hello pyhton"
course_code = "24t2cs1002"  # 24 - year, t2 - term 2, cs1002 - course id
# <eoi>

output1 = s[2]  # str: get the third character of s

output2 = s[-4]  # str: get the fourth last character of s

output3 = s[:3]  # str: get the first 3 characters of s

output4 = s[::2]  # str: get every second character of s

output5 = s[-3:]  # str: get the last 3 characters of s

output6 = s[::-1]  # str: get the reverse of s

course_term = course_code[2:4]  # int: get the term of the year as number from course_code
course_year = course_code[:2]  # int: get the year as two digit number from course_code

print(output1)
print(output2)
print(output3)
print(output4)
print(output5)
print(output6)
print(course_term)
print(course_year)

l
h
hel
hlopho
ton
nothyp olleh
t2
24